# Datenbank
DB_ROOT_PASSWORD=rootpassword
DB_NAME=wordpress
DB_USER=wpuser
DB_PASSWORD=wppassword

# WordPress
WP_DEBUG=1
WP_PORT=8080

# phpMyAdmin
PMA_PORT=8081

# Mailpit (E-Mail-Catching)
MAIL_UI_PORT=8025
